@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
#__next {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes reach {
  0% {
    border-color: #fff;
  }
  100% {
    border-color: #ff89a3;
  }
}

@keyframes slideGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 1000% 0%;
  }
}
